<a href="/"><< Voltar</a>
<ul>
  <% if @make %>
      <% @models.each do |model| %>
          <li><%= model.name %></li>
      <% end %>
  <% else %>
    <li>Marca não encontra</li>
  <% end %>
</ul>
